.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  &.default {
    color: $button-text-color;
    background-color: $button-color;

    @for $i from 1 through 4 {
      &.lighten-#{$i} {
        background-color: lighten($button-color, 5% * $i);

        &.v-btn--outline {
          color: lighten($button-color, 5% * $i);
        }
      }

      &.darken-#{$i} {
        background-color: darken($button-color, 5% * $i);

        &.v-btn--outline {
          color: darken($button-color, 5% * $i);
        }
      }
    }

    &.v-btn--outline {
      color: $button-color;
    }
  }

  &.over-primary {
    color: $button-over-primary-text-color;
    background-color: $button-over-primary-color;

    @for $i from 1 through 4 {
      &.lighten-#{$i} {
        background-color: lighten($button-over-primary-color, 5% * $i);

        &.v-btn--outline {
          color: lighten($button-over-primary-color, 5% * $i);
        }
      }

      &.darken-#{$i} {
        background-color: darken($button-over-primary-color, 5% * $i);

        &.v-btn--outline {
          color: darken($button-over-primary-color, 5% * $i);
        }
      }
    }

    &.v-btn--outline {
      color: $button-over-primary-color;
    }

  }
}
