html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

body {
	padding-top: $header-height-small;

	@include breakpoint(md-and-up)
	{
		padding-top: $header-height;
	}

	#app {
		font: {
			family: $font-family-base;
			size: $font-size-base;
			weight: $font-weight-base;
		}

		color: $text-color;
		line-height: 1.75rem;
		background: none;
	}
}

p:last-child {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $heading-font-family;
		weight: $heading-font-weight;
	}
	line-height: 1.3;
	color: $heading-text-color;
}

h1 {
	font-size: 2rem;

	@include breakpoint(lg-and-up)
	{
		font-size: 3rem;
		font-weight: bold;
	}
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

body a
{
	color: $link-color;
	transition: color .2s;

	&:hover
	{
		color: $link-hover-color;
	}
}

main > div > section
{
	&:not(.banner):not(.carousel)
	{
		@include breakpoint(sm-and-up)
		{
			padding: $section-gutter 0;
		}
	}
}