@import "~vuetify-scss/bootstrap";

$gutter-width: 1rem;
$section-gutter: $gutter-width * 3;

$header-height: 5.5rem;
$header-height-small: 4.5rem;


//** == Font
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-weight-base: 500;
$text-color: get-color('grey', 'darken-2');
$heading-font-family: 'Lato', Helvetica, Arial, sans-serif;
$heading-font-weight: 900;
$heading-text-color: #8e4097;


//** == Color
$primary-color: #25a9ce; // Also needs to replace in vuetify props

$carousel-overlay: rgba(get-color('blue-grey', 'darken-4'), .8);

$link-color: #5450F7;
$link-hover-color: darken($link-color, 10);

$button-color: $primary-color;
$button-text-color: #fff;

$button-over-primary-color: $text-color;
$button-over-primary-text-color: #fff;

$colored-background: $primary-color;
$colored-background-text-color: #fff;


//** == Menu
$hamburger-color: get-color('blue-grey');

$menu-color: white;
$menu-hover-color: $primary-color;
$menu-font-weight: normal;
$menu-font-family: $font-family-base;

$menu-sub-font-size: 14px;
$menu-sub-color: #fff;
$menu-sub-hover-color: #fff;
$menu-sub-background: $primary-color;
$menu-sub-hover-background: darken($primary-color, 10%);

$offcanvas-menu-background: $primary-color;
$offcanvas-menu-color: #fff;
$offcanvas-menu-active-color: get-color('grey', 'darken-3');
$offcanvas-breadcrumb-color: $text-color;
$offcanvas-menu-font-weight: 400;
$offcanvas-menu-font-family: $font-family-base;

//** == Photoswipe
$pswp__show-hide-transition-duration: 333ms;
$pswp__controls-transition-duration: 333ms;
$pswp__background-color: #000;
$pswp__placeholder-color: #222;
$pswp__box-sizing-border-box: true; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500;
$pswp__assets-path: '/photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #CCC; // "Image not loaded" text color
$pswp__include-minimal-style: true;
